
{{text}}
<div class="container">
  <div class="row d-flex h-100 align-items-center mx-auto">
    <ngx-slider [(value)]="value" [options]="options" [(ngModel)]="form.name"
      name="name" (mouseup)="onChange()"></ngx-slider>
    <ul class="pager">
      <li><a href="#" (click)="previous()" *ngIf="i>0" >Previous</a></li>
      <li><a href="#" (click)="next()" *ngIf="i<len-1">Next</a></li>
      {{i}}
      <li><a href="#" (click)="onSubmit()" *ngIf="i==len-1">Submit</a></li>
    </ul>
  </div>
</div>